@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body, html{
    background-color: #fff;
    color: #fff;
}

header {
    background-color: #fff;
}

.maior-banner1 {
    min-height: 40px;
    background-color: #fff;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.banner1 {
    height: 100%;
    width: 80%;
    background-color: transparent;
    color: #838383;
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.maior-pesquisa {
    min-height: 100px;
    max-height: 100px;
    width: 100%;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
}
.pesquisa {
    height: 100%;
    width: 80%;
    background-color: transparent;
    display: flex;
    flex-direction: row;
}
.logo1pesq{
    padding-top: 6px;
    width: 20%;
    color: #ffffff;
    font-size: 12px;
    font-family: Sweet Sans Bold Small Caps;
    vertical-align: middle;
    display: flex;
    flex-direction: row;
}
.logo1pesq img{
    height: 100%;
}
.pesq{
    height: 40px;
    width: 45%;
}
.btnpesq{
    height: 100%;
    width: 100%;
}
.pesq-fim p{
    padding-top: 10px;
    padding-left: 20px;
    width: 100%;
    color: #fff;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.maior-menu {
    min-height: 60px;
    background-color: #fff;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.menu {

}

.maior-banner2 {
    min-height: 60px;
    background-color: #dddddd;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.banner2{
    width: 90%;
    
}

.galery {
    /*width: 1922px;
    height: 500px;
    width: 640px;
    height: 360px;*/
    width: 100%;
    height: auto;
    overflow: hidden;
    border: none;
    background-color: #dddddd;
}

.galery .fotos {
    width: 500%;
    animation-name: animacao;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    border: none;
}

.galery .fotos img {
    width: 19.94%;
}